defaults
    mode http
    stats enable
    stats uri /haproxy
    timeout connect 10000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    
    acl host_techproft hdr(host) -i techprofit.eu
    acl host_perfectcarpet hdr(host) -i perfectcarpet.co.uk
    
    use_backend techprofit if host_techproft
    use_backend perfectcarpet if host_perfectcarpet   

backend techprofit
    server github-kmakowski kmakowski.github.io
    http-request set-header Host kmakowski.github.io
    reqrep  ^([^\ :]*)\ /(.*)  \1\ /techprofit-website/\2
    
backend perfectcarpet
    server localhost localhost:8080  
